<form [formGroup]="form" (ngSubmit)="submit()" class="transaccion-form">

  <mat-form-field appearance="outline" class="field tipo">
    <mat-label>Tipo*</mat-label>
    <mat-select formControlName="ndTransaccionTipo">
      <mat-option value="compra">Compra</mat-option>
      <mat-option value="venta">Venta</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="field producto">
    <mat-label>Producto*</mat-label>
    <mat-select formControlName="ndTransaccionProductoId">
      <mat-option *ngFor="let p of productos" [value]="p.ndProductoId">
        {{ p.ndProductoNombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="field stock">
    <mat-label>Stock disponible</mat-label>
    <input matInput [value]="stockDisponible" disabled />
  </mat-form-field>

  <mat-form-field appearance="outline" class="field cantidad">
    <mat-label>Cantidad*</mat-label>
    <input type="number" matInput formControlName="ndTransaccionCantidad" />
    <mat-error *ngIf="form.get('ndTransaccionCantidad')!.hasError('min')">
      Debe ser al menos 1
    </mat-error>
    <mat-error *ngIf="form.get('ndTransaccionCantidad')!.hasError('max')">
      No puedes vender más de {{ stockDisponible }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="field precioUnidad">
    <mat-label>Precio Unitario*</mat-label>
    <input type="number" matInput formControlName="ndTransaccionPrecioUnitario" />
    <mat-error *ngIf="form.get('ndTransaccionPrecioUnitario')!.hasError('min')">
      Debe ser ≥ 0
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="field detalle">
    <mat-label>Detalle</mat-label>
    <input matInput formControlName="ndTransaccionDetalle" />
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      {{ editar ? 'Actualizar' : 'Registrar' }}
    </button>
  </div>

</form>
