:host {
  display: block;
  margin-top: 2rem;
}

.transaccion-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "tipo         producto     cantidad     precioUnidad"
    "detalle      detalle      detalle      detalle"
    "actions      actions      actions      actions";
  gap: 1rem 1.5rem;
}

.field {
  width: 100%;
}


.tipo         { grid-area: tipo; }
.producto     { grid-area: producto; }
.cantidad     { grid-area: cantidad; }
.precioUnidad { grid-area: precioUnidad; }
.detalle      { grid-area: detalle; }

.actions {
  grid-area: actions;
  margin-top: 1rem;
  
  button {
    width: 100vw;
    max-width: none;
    margin-left: calc(-50vw + 50%);
  }
}
