:host {
  display: block;
}

mat-toolbar.toolbar-dark {
  background-color: #000 !important;
  color: #fff !important;
}


.spacer {
  flex: 1 1 auto;
}


.toolbar-dark .toolbar-button {
  color: #fff !important;
}
