:host {
  display: block;
}

mat-toolbar.toolbar-dark {
  background-color: #000 !important;
  color: #fff !important;
}

/* Empuja los links a la derecha */
.spacer {
  flex: 1 1 auto;
}

/* Forzar que los mat-button dentro de la toolbar sean blancos */
.toolbar-dark .toolbar-button {
  color: #fff !important;
}
