/* producto-list.component.scss */

.toolbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.filter-inline {
  margin-left: auto;     /* lo mantiene a la derecha */
  margin-top: 1rem;      /* separa del toolbar */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-inline mat-form-field {
  width: 200px;
}
