.toolbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.filter-inline {
  margin-left: auto;    
  margin-top: 1rem; 
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-inline mat-form-field {
  width: 200px;
}
